{
	# Global options
	admin localhost:2019
	log {
		level INFO
		format console
	}
}

# Layer 4 TCP proxy configuration
:7102 {
	proxy tcp://dev-authcache:7102
}

# The caddy-docker-proxy module automatically generates configurations from Docker labels.
# No global configuration is needed - the plugin scans Docker containers/services automatically.
# 
# For a service with labels:
# caddy_0: test.mydomain.com
# caddy_0.reverse_proxy: tcp://:7102
# caddy_0.tls_internal_ask: 'true'
# 
# This will create:
# test.mydomain.com {
#     reverse_proxy tcp://:7102
#     tls internal {
#         ask
#     }
# }
#
# For HTTP services:
# caddy_1: admin.test.mydomain.com
# caddy_1.reverse_proxy: '{{upstreams 9102}}'
# 
# This will create:
# admin.test.mydomain.com {
#     reverse_proxy {{upstreams 9102}}
# }

# Default response for unmatched requests
:80 {
	respond "Caddy Proxy Server is running" 200
	header Content-Type "text/plain"
}