{
	# Global options
	admin localhost:2019
	log {
		level INFO
		format console
	}
}

# The caddy-docker-proxy module automatically generates configurations from Docker labels.
# No global configuration is needed - the plugin scans Docker containers/services automatically.
#
# NOTE: Layer 4 (TCP/UDP) proxying with caddy-l4 module requires JSON configuration.
# The caddy-l4 module does not support Caddyfile format. For Layer 4 proxying,
# you need to use JSON configuration or adapt the Caddyfile to JSON and merge
# with Layer 4 configuration.
# 
# For HTTP services with Docker labels:
# caddy_0: test.mydomain.com
# caddy_0.reverse_proxy: '{{upstreams 8080}}'
# caddy_0.tls_internal_ask: 'true'
# 
# This will create:
# test.mydomain.com {
#     reverse_proxy {{upstreams 8080}}
#     tls internal {
#         ask
#     }
# }
#
# For additional HTTP services:
# caddy_1: admin.test.mydomain.com
# caddy_1.reverse_proxy: '{{upstreams 9102}}'
# 
# This will create:
# admin.test.mydomain.com {
#     reverse_proxy {{upstreams 9102}}
# }

# Default response for unmatched requests
:80 {
	respond "Caddy Proxy Server is running" 200
	header Content-Type "text/plain"
}